<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
</div>

<div class="league-info-wrapper">

  <!-- En-tête avec la Ligue -->
  <div class="profile-header flex flex-col items-center shadow-xl py-3 mb-3">
    <div class="profile-header-top flex justify-between items-center px-3">
      <%= link_to users_dashboard_path, method: :get do %>
        <i class="fas fa-chevron-left absolute left-5 top-5" style="color: #ffffff"></i>
      <% end %>
    </div>
    <p><%= cl_image_tag @league.logo.key, class: "border-solid border-2 rounded-full w-20 h-20 object-cover bg-white" %></p>
    <p class="font-thin text-sm">Informations Peloton</p>
    <p class="font-light text-center"><%= @league.name %></p>
  </div>

  <!-- Card des membres du Peloton -->
  <div class="leagues-info-card border border-1 mx-3 my-3 pb-3 px-3">
    <h1>Les Membres du Peloton (<%= @accepted_admissions.count + 1 %>)</h1>
    <div class="flex justify-between items-center">
        <div><%= cl_image_tag @league.user.photo.key, class: "class: border-solid border-2 rounded-full w-10 h-10 object-cover mx-2 mb-1" %></div>
        <div class= "flex justify-start w-full pl-3 text-sm"><%= @league.user.username %></div>
      </div>
    <% @accepted_admissions.each do |admission| %>
      <div class="flex justify-between items-center">
        <div><%= cl_image_tag admission.user.photo.key, class: "class: border-solid border-2 rounded-full w-10 h-10 object-cover mx-2 mb-1" %></div>
        <div class= "flex justify-start w-full pl-3 text-sm"><%= admission.user.username %></div>
      </div>
    <% end %>

    <!-- Clipboard pour partager la ligue -->
    <% if @league.user == current_user %>
      <div class="clipboard flex justify-center">
        <div data-controller="clipboard" data-clipboard-feedback-text-value="Copied!">
          <input data-clipboard-target="input" type="text" value="<%= @league.name %>" readonly class="hidden">
          <button class="third-button" data-action="click->clipboard#copy"><i class="fas fa-paste"></i> Invite tes potes à rejoindre le peloton</button>
        </div>
      </div>
    <% end %>
  </div>



  <%= link_to league_race_path(@league, Race.last, type: "yellow_jersey"), data: { turbolinks: false }, class: "main-button" do %>
    <p>Voir le classement</p>
  <% end %>

  <% unless @league.user == current_user %>
    <%= link_to league_admission_path(@league, @my_admission), data: {turbo_method: :delete}, class: "second-button" do %>
      <p>Quitter le peloton</p>
    <% end %>
  <% end %>

</div>
