<div class="container-wrapper">

  <!-- En-tête avec la Ligue -->
  <div class="profile-header flex flex-col items-center shadow-xl py-3 mb-3">
    <div class="profile-header-top flex justify-between items-center px-3">
      <%= link_to users_dashboard_path, method: :get do %>
        <i class="fas fa-chevron-circle-left absolute left-5 top-5" style="color: #ffffff"></i>
      <% end %>
    </div>
    <p><%= cl_image_tag @league.logo.key, class: "border-solid border-2 rounded-full w-20 h-20 object-cover bg-white" %></p>
    <p class="font-thin text-sm">Informations Peloton</p>
    <p class="font-light text-center"><%= @league.name %></p>
  </div>

  <%= @accepted_admissions.count %>

  <!-- Card des membres du Peloton -->
  <div class="leagues-info-card border border-1 mx-3 my-3 pb-3 px-3">
    <h1>Les Membres du Peloton</h1>
    <% @accepted_admissions.each do |admission| %>
      <div class="flex justify-between items-center">
        <%= cl_image_tag admission.user.photo.key, class: "class: border-solid border-2 rounded-full w-10 h-10 object-cover mx-2" %>
        <%= admission.user.username %>
      </div>
    <% end %>
  </div>

  <%= link_to league_path(@league, type: "yellow_jersey"), data: { turbolinks: false } do %>
    <p>Voir le classement</p>
  <% end %>

</div>
