<div class="container-wrapper league-ranking relative">
  <!-- Card league info -->

  <div class="card-league-info flex justify-between items-center">
    <p class="w-40"><%= @league.number_of_players %>/20 joueurs</p>
    <div>
      <%= cl_image_tag @league.logo.key, class: "logo-league" %>
      <p><%= @league.name %></p>
    </div>
    <% if @admission && @admission.accepted? %>
      <p class="w-40"><%= link_to "Quitter", league_admission_path(@league, @admission), method: :delete %></p>
    <% else %>
      <p class="w-40"></p>
    <% end %>
  </div>

  <% if @my_leagues.count > 1 %>
    <div class="grid place-items-end">

      <div class="dropdown-button flex flex-row-reverse">
        <!-- Dropdown Menu -->
        <div class="relative inline-block text-left" data-controller="dropdown-button">
          <div>
            <button type="button" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50" data-action="click->dropdown-button#dropdown" >
            Choisis ton peloton <i class="fas fa-angle-down pl-3"></i>
            </button>
          </div>

          <div class="hidden absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5" data-dropdown-button-target="link">
            <div class="py-1">
              <% @my_leagues.each do |league| %>
                <%= link_to league.name, league_path(league, type: "yellow_jersey"), class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>

  <h1><strong>CLASSEMENT</strong></h1>

  <!-- Link to different jerseys -->

  <div class="league-jerseys flex justify-around items-center mt-2 mb-8 mx-3">
    <%= link_to league_path(@league, type: "yellow_jersey") do %>
      <p><i class="fas fa-medal <%=(params[:type] == "yellow_jersey" ? "act" : "dis")%>" style="color: #FFFF00"></i></p>
    <% end %>
    <%= link_to league_path(@league, type: "green_jersey")do %>
      <p><i class="fas fa-road <%=(params[:type] == "green_jersey" ? "act" : "dis")%>" style="color: #38a849"></i></p>
    <% end %>
    <%= link_to league_path(@league, type: "polka_dot_jersey")do %>
      <p><i class="fas fa-mountain <%=(params[:type] == "polka_dot_jersey" ? "act" : "dis")%>" style="color: #D9291C"></i></p>
    <% end %>
  </div>


  <div class="league-ranking-users">
    <% @users.each_with_index do |user, index| %>
      <% if user.first == current_user %>
        <div class="ranking-card-host flex justify-between items-center">
      <% else %>
        <div class="ranking-card flex justify-between items-center">
      <% end %>
        <p><strong><%= index + 1 %></strong></p>
        <div class="bet-card-user flex flex-col items-center">
          <p><%= cl_image_tag user.first.photo.key, class: "avatar" %></p>
          <p><%= user.first.username %></p>
        </div>
        <div class="bet-card-points flex flex-col items-center">
          <p class="score"><%= user.last %></p>
          <p>pts</p>
        </div>
      </div>
    <% end %>
  </div>

</div>
