<div class="registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'rounded px-8 pt-6 pb-8 mb-4'}) do |f| %>
    <h2 class="text-center">Inscription</h2>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%
      label_classes = "block text-sm font-bold mb-2 #{alert ? "text-red-500" : "text-white"}"
      input_classes = "appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline #{alert ? "border-red-500" : nil}"
    %>

    <div class="mb-4">
      <%= f.label :first_name, "Prénom", class: label_classes %>
      <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: input_classes %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, "Nom", class: label_classes %>
      <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: input_classes %>
    </div>

    <div class="mb-4">
      <%= f.label :username, "Pseudo", class: label_classes %>
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: input_classes %>
    </div>

    <div class="mb-4">
      <%= f.label :avatar, "Avatar", class: label_classes %>
      <%= f.file_field :avatar, autofocus: true, autocomplete: "avatar", class: "#{input_classes} avatar-input" %>
    </div>

    <div class="mb-4">
      <%= f.label :email, "Email", class: label_classes %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_classes %>
    </div>

    <div class="mb-4">
      <%= f.label :password, "Mot de passe", class: label_classes %>
      <% if @minimum_password_length %>
      <em class="block text-sm font-normal mb-2 text-[#f3f3f3]">(<%= @minimum_password_length %> caractères minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: input_classes %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, "Confirmer le mot de passe", class: label_classes %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: input_classes %>
    </div>

    <div class="flex items-center justify-between content-end">
      <%= f.submit "Créer mon compte", class: "second-button" %>
    </div>

    <div class="registration-devise-links mt-3" >
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
