<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Classement</p>
  </div>
</div>

<div class="league-show" data-controller="show-league-button">

  <!-- Banner Peloton -->
  <div class="banner">
    <div class="button-league" data-action="click->show-league-button#show">
      <i class="fas fa-chevron-left"></i>
      <%= cl_image_tag @league.logo.key, class: "logo-league" %>
      <i class="fas fa-chevron-right"></i>
    </div>
    <p><%= @league.name %></p>
  </div>

  <!-- Link to different jerseys -->
    <div class="flex justify-around mt-5 mb-3">
      <%= link_to league_race_path(@league, @race, type: "yellow_jersey"), class: (params[:type] == "yellow_jersey" ? "menu-active" : "menu-disactive") do %>
        <h3><i class="fas fa-tshirt pr-1" style="color: #FFF000"></i>INDIVIDUEL</h3>
      <% end %>
      <%= link_to league_race_path(@league, @race, type: "green_jersey"), class: (params[:type] == "green_jersey" ? "menu-active" : "menu-disactive") do %>
        <h3><i class="fas fa-tshirt pr-1" style="color: #38a849"></i>POINTS</h3>
      <% end %>
      <%= link_to league_race_path(@league, @race, type: "polka_dot_jersey"), class: (params[:type] == "polka_dot_jersey" ? "menu-active" : "menu-disactive") do %>
        <h3><i class="fas fa-tshirt pr-1" style="color: #D9291C"></i>GRIMPEUR</h3>
      <% end %>
    </div>

  <!-- Current race -->
    <div class="flex justify-around">
      <h2><%= @race.name %></h2>
    </div>

   <!-- Ranking -->
    <% @users.each_with_index do |user, index| %>
    <div class="flex items-center justify-between mx-4">
      <p><strong><%= index + 1 %></strong></p>
      <% if user.first == current_user %>
        <div class="ranking-card-host grow flex justify-between items-center">
      <% else %>
        <div class="ranking-card grow flex justify-between items-center">
      <% end %>
        <div class="ranking-card-user flex flex-start items-center">
          <p><%= cl_image_tag user.first.photo.key, class: "logo-avatar mr-3" %></p>
          <h3><%= user.first.username %></h3>
        </div>
        <div class="ranking-card-points flex items-center">
          <p class="score"><%= user.last %></p>
          <p>pts</p>
        </div>
      </div>
    </div>
    <% end %>

  <div data-show-league-button-target="button">
    <!-- Choix du Peloton -->
    <% if @my_leagues.count > 1 %>
      <div class="hidden choice-leagues w-full" style="background-color: white" data-show-league-button-target="link">
        <div class="pr-3" data-action="click->show-league-button#show">
          <p class="text-end"><i class="fas fa-times"></i></p>
        </div>
        <div>
          <% @my_leagues.each do |league| %>
            <%= link_to league_race_path(league, @race, type: "yellow_jersey") do %>
              <div class="flex place-content-center">
                <div class="flex items-center justify-around my-2">
                  <%= cl_image_tag league.logo.key, class: "logo-league-bis" %>
                  <p class="pl-3"><%= league.name %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
