<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
</div>

<div class="my-bets">

  <div class="title">
    <h1>Mes Pronos</h1>
  </div>

  <% @all_bets.each do |race, bets_by_stage| %>
    <div data-controller="hide-bets">
      <div class="sub-title flex justify-between">
        <p data-action="click->hide-bets#hide"><%= race.name %> <i class="fas fa-chevron-down"></i></p>
        <%= link_to league_race_path(@my_leagues.first, race, type: "yellow_jersey") do %>
          <div class="flex">
            <i class="fas fa-trophy"></i>
            <p class="pl-2"><%= TotalScore.get_user_total_score_for_one_race(current_user, race) %> pts</p>
          </div>
        <% end %>
      </div>
      <div data-hide-bets-target="betsSection">
        <% bets_by_stage.each do |stage, bets| %>
          <%= link_to stage_path(stage) do %>
            <div class="bet-card flex justify-between items-center">
              <div class="bet-card-stage flex flex-col items-center">
                <p>Etape</p>
                <p><%= stage.number %></p>
              </div>
              <div class="bet-card-riders">
                <% bets.each do |bet| %>
                  <% if stage.stage_type == "Chrono equipe" %>
                    <p><%= bet.position %>. <%= bet.rider.team %></p>
                  <% else %>
                    <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
                  <% end %>
                <% end %>
              </div>
              <div class="bet-card-points flex flex-col items-center">
                <% stage.scores.each do |score| %>
                  <% if score.user == current_user %>
                    <p class="score"><%= score.points %></p>
                    <p>pts</p>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
