<div class="container-wrapper">

  <div class="title">
    <h1>Mes Pronos</h1>
    <p>Tour de France 2022</p>
  </div>

  <% @bets.each do |bet| %>
    <div class="bet-card flex justify-between items-center">
      <div class="bet-card-stage flex flex-col items-center">
        <p>Etape</p>
        <p><%= bet.first.number %></p>
      </div>
      <div class="bet-card-riders">
        <% bet.last.each do |bet| %>
          <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
        <% end %>
      </div>
      <div class="bet-card-points flex flex-col items-center">
        <% bet.first.scores.each do |score| %>
          <% if score.user == current_user %>
            <p class="score"><%= score.points %></p>
            <p>pts</p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
