<h2>Mes Pronos</h2>
<% @bets.each do |bet| %>
  <p>Etape n°<%= bet.stage.number %></p>
  <%= bet.position %>
  <%= bet.rider.first_name %>
  <%= bet.rider.last_name %>
  <%= bet.user.username %>
<% end %>
