<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Compte</p>
  </div>
</div>

<div class="dashboard">

  <!-- Sweet Alert 2 -->
  <% if params[:popup] %>
    <div data-controller="peloton-popup" data-peloton-popup-league-value="<%= params[:league] %>">
    </div>
  <% end %>


  <!-- Banner Profil -->
  <div class="banner">
    <div class="settings">
      <%= link_to users_account_path do %>
        <i class="fas fa-cog"></i>
      <% end %>
    </div>
    <% if current_user.photo.key? %>
      <%= cl_image_tag current_user.photo.key, class: "logo-avatar" %>
    <% end %>
    <p><%= current_user.username %></p>
  </div>

  <!-- Card 'Mes Pelotons' -->
  <div class="sub-title">
    <p>Mes Pelotons (<%= @my_leagues.count %>)</p>
  </div>

  <div class="leagues-card border border-1 mx-3 my-3 pb-3 px-3">
    <div class="leagues-avatar grid grid-cols-4 gap-5">
      <% @my_leagues.each do |league| %>
        <% if league.user == current_user || league.admissions.where(user: current_user).first.status == "accepted" %>
          <%# <%= link_to league_path(league, type: "yellow_jersey"), data: { turbolinks: false } do %>
          <%= link_to info_league_path(league) do %>
            <%= cl_image_tag league.logo.key, class: "border-solid border-2 rounded-full w-16 h-16 max-w-none object-cover m-auto" %>
          <% end %>
        <% elsif league.admissions.where(user: current_user).first.status == "pending" %>
          <%= cl_image_tag league.logo.key, class: "border-solid border-2 rounded-full w-16 h-16 max-w-none object-cover m-auto opacity-50" %>
        <% else %>
          <%= cl_image_tag league.logo.key, class: "border-solid border-2 rounded-full w-16 h-16 max-w-none object-cover m-auto bg-sky-500/50" %>
        <% end %>
      <% end %>
    </div>

    <div class="dropdown-button flex flex-row-reverse">
      <!-- Dropdown Menu -->
      <div class="relative inline-block text-left" data-controller="dropdown-button">
        <div>
          <button type="button" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50" data-action="click->dropdown-button#dropdown" >
          Nouveau Peloton <i class="fas fa-plus pl-3"></i>
          </button>
        </div>

        <div class="hidden absolute right-0 z-10 mt-2 w-36 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5" data-dropdown-button-target="link">
          <div class="py-1">
            <%= link_to "Ajouter", new_league_path, class: "text-gray-700 block px-4 py-2 text-sm text-right" %>
            <%= link_to "Rejoindre", leagues_path, class:"text-gray-700 block px-4 py-2 text-sm text-right" %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Card 'Mes Demandes d'Admissions' -->
  <div class="sub-title">
    <p>Demandes d'adhésions à mes Pelotons (<%= @my_admissions.count %>)</p>
  </div>

  <div class="admissions-card border border-1 mx-3 my-3 pb-3 px-3">
    <% @my_admissions.each do |admission| %>
      <div class="admission flex justify-between items-center">
        <div class="admissions-info flex items-center">
          <p class="text-sm"><%= admission.user.username %> pour</p>
          <%= cl_image_tag admission.league.logo.key, class: "border-solid border-2 rounded-full w-10 h-10 object-cover mx-2" %>
          <p class="text-sm"><%= admission.league.name %></p>
        </div>
        <div class="admissions-buttons flex justify-between">
          <div>
            <%= link_to admission_accept_path(admission), data: {turbo_method: :patch}, class: "pr-2 btn-ok text-xl" do %>
              <i class="fas fa-check-circle"></i>
            <% end %>
          </div>
          <div>
            <%= link_to admission_reject_path(admission), method: :patch, class: "pl-2 btn-ko text-xl" do %>
              <i class="fas fa-times-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Card 'Mes Courses/Pronos' -->
  <div class="sub-title">
    <p>Mes Tours</p>
  </div>
  <div class="races-card border border-1 mx-3 my-3 pb-3 px-3">
    <p><%= link_to "Voir mes Pronos", bets_path(current_user) %></p>
  </div>

</div>
