<!-- Navbar top -->
<div class="navbar-top">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Accueil</p>
  </div>
</div>

<div class='home-player'>

  <!-- Current Race Card -->
  <% if @stage.present? %>
    <div class="currently-card">
      <div class="stage-info-number">
        <p><i class="fas fa-flag"></i> Etape <%= @stage.number if @stage %></p>
      </div>
      <h3>Vuelta</h3>
      <h4>2023</h4>
    </div>
  <% elsif @rest_day.present? && @race.starting_date <= Date.current %>
    <div class="currently-card">
      <div class="stage-info-number">
        <p><i class="fas fa-flag"></i> Jour de repos</p>
      </div>
      <h3>Vuelta</h3>
      <h4>2023</h4>
    </div>
  <% end %>

  <div class="bike-riding">
    <div class="clouds"></div>
    <div class="bike-shadow"></div>
    <div class="cyclist">
      <div class="bike">
        <div class="leftTyre">
          <div class="spokes"></div>
        </div>
        <div class="rightTyre">
          <div class="spokes"></div>
        </div>
        <div class="saddle"></div>
        <div class="wheel"></div>
        <div class="pedals"></div>
        <div class="chain"></div>
      </div>
    </div>
  </div>

  <div>
    <p class="race-title">Vuelta</p>
  </div>

  <!-- Countdown -->
  <div class="countdown">
    <% if @stage.present? %>
      <% if (Time.zone.now < (Time.zone.now.middle_of_day + 6*60*60)) %>
        <div class="text-countdown-card">
          <strong>Fermeture des pronos à 18h00</strong><br>
          <em>Ne loupe pas le départ!</em>
        </div>
        <div class="timer-card text-center">
          <p><i class="fas fa-hourglass-half"></i></p>
          <div class="timer-card-countdown pl-2 text-2xl" data-controller="countdown-stage" data-countdown-stage-date-value="<%= @date %> 18:00:00"></div>
        </div>
        <%= link_to "Je fais mon prono !", stage_path(@stage), class: "home-main-button" %>
      <% else %>
        <div class="text-countdown-card">
          <p><strong>Les coureurs ont pris le départ !</strong></p>
          <div class="bubble bubble-bottom-left" contenteditable>
            <em>Alors, ça donne quoi les paris ?</em>
          </div>
        </div>
        <%= link_to "Voir les pronos", stage_path(@stage), class: "home-main-button" %>
      <% end %>
    <% elsif @rest_day.present? && @race.starting_date <= Date.current %>
      <div class="text-countdown-card">
        <p><strong>Les coureurs sont en récup !</strong></p>
        <div class="bubble bubble-bottom-left" contenteditable>
          <em>Alors, niveau classement, on est comment ?</em>
        </div>
      </div>
      <%= link_to "Voir les classements", League.where_am_i(current_user).empty? ? users_dashboard_path : league_path(League.where_am_i(current_user).first, type: "yellow_jersey"), class: "home-main-button" %>
    <% else %>
      <div class="timer-card">
        <p class="pr-2"><i class="fas fa-bell"></i></p>
        <p>Début dans</p>
        <div class="pl-2 text-xl" data-controller="countdown-race" data-countdown-race-date-value="August 26, 2023 00:00:00"></div>
      </div>
      <p class='text-center'>Rendez-vous le 26 Août 2023 !</p>
    <% end %>
  </div>

  <!-- FAQ / Concept -->
  <div>
    <div class="sub-title">
      <p>Si tu ne veux pas être largué</p>
    </div>

    <div class="concept">
      <%= link_to info_rules_path do %>
        <div class="concept-card">
          <div><i class="fas fa-dice text-2xl"></i></div>
          <div><p class="text-sm">Règlement officiel de l'épreuve</p></div>
        </div>
      <% end %>

      <%= link_to info_faq_path do %>
        <div class="concept-card">
          <i class="fas fa-question text-2xl"></i>
          <p class="text-sm">La Fringale en 2 coups de pédale!</p>
        </div>
      <% end %>

      <%= link_to info_manifest_path do %>
        <div class="concept-card">
          <i class="fas fa-quote-right text-2xl"></i>
          <p class="text-sm">Le mot du Commissaire de course</p>
        </div>
      <% end %>
    </div>
  </div>

</div>
