<div class="navbar-bottom">
  <%= link_to root_path do %>
    <div class="navbar-bottom-icon <%= 'active' if controller_name == 'pages' %>">
      <i class="fas fa-home"></i>
      <p>Accueil</p>
    </div>
  <% end %>
  <%= link_to (League.where_am_i(current_user).empty? ? users_dashboard_path : league_path(League.where_am_i(current_user).first, type: "yellow_jersey")) do %>
    <div class="navbar-bottom-icon <%= 'active' if controller_name == 'leagues' %>">
      <i class="fas fa-trophy"></i>
      <p>Classement</p>
    </div>
  <% end %>
  <%= link_to stages_path do %>
    <div class="navbar-bottom-icon <%= 'active' if controller_name == 'stages' || controller_name == 'riders' || controller_name == 'results' %>">
    <i class="fas fa-bicycle"></i>
      <p>Course</p>
    </div>
  <% end %>
  <%= link_to users_dashboard_path do %>
    <div class="navbar-bottom-icon <%= 'active' if controller_name == 'users' %>">
      <i class="fas fa-user"></i>
      <p>Compte</p>
    </div>
  <% end %>
</div>
