<div class="container-wrapper">

  <!-- Navbar top -->
  <div class="navbar-top sticky top-O">
    <%= link_to root_path do %>
      <%= image_tag "LA FRINGALE.jpg" %>
    <% end %>
    <div class="menu">
      <p>Course</p>
    </div>
  </div>

  <!-- Menu Etapes/Coureurs/Resultats -->
  <div class="flex justify-around mt-1 mb-6">
    <p><%= link_to 'ETAPES', stages_path, class: (controller_name == "stages" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'COUREURS', riders_path, class: (controller_name == "riders" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'RESULTATS', results_path, class: (controller_name == "results" ? "menu-active" : "menu-disactive") %></p>
  </div>

  <!-- Index des Results -->
  <% @results.each do |result| %>
    <div class="result-bet-card flex justify-between items-center">
      <div class="bet-card-stage flex flex-col items-center">
        <p>Etape</p>
        <%= result.first.number %>
      </div>
      <div class="bet-card-riders flex flex-col items-center w-full">
        <% result.last.each do |result| %>
          <% if result.stage.stage_type == "Chrono equipe" %>
            <p><%= result.result_position %>. <%= result.rider.team %></p>
          <% else %>
            <p><%= result.result_position %>. <%= result.rider.first_name %> <%= result.rider.last_name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

    <!-- Bouton Admin Only - Résultat de l'Etape -->
  <% if current_user.admin? && !@result.present? && @stage %>
    <%= link_to "Résultat de l'étape", new_stage_result_path(@stage), class: "main-button" %>
  <% end %>

</div>
