<h1>Results#new</h1>
<p>Find me in app/views/results/new.html.erb</p>

<%= simple_form_for [@result] do |f| %>
  <%= f.input :result_position, input_html: {value: "1"}%>
  <%= f.input :rider, collection: Rider::RIDERS, label: :first, placeholder: "Sélectionne un coureur"%>
  <%= simple_form_for [@result] do |f| %>
    <%= f.input :result_position, input_html: {value: "2"}%>
    <%= f.input :rider, collection: Rider::RIDERS, label: :second, placeholder: "Sélectionne un coureur"%>
  <% end %>
  <%= simple_form_for [@result] do |f| %>
    <%= f.input :result_position, input_html: {value: "3"}%>
    <%= f.input :rider, collection: Rider::RIDERS, label: :third, placeholder: "Sélectionne un coureur"%>
  <% end %>
  <%= f.submit "Ajouter", class: "main-button" %>
<% end %>
