<div class="container-wrapper">

  <!-- Formulaire Admin pour compléter le résultat de l'étape -->
  <h1>Le résultat de l'étape</h1>
  <%= form_with url: stage_results_path(params[:stage]), method: :post do |f| %>
    <%= f.select :rider_1, Rider::RIDERS, prompt: 'Vainqueur' %>
    <%= f.select :rider_2, Rider::RIDERS, prompt: 'Deuxième' %>
    <%= f.select :rider_3, Rider::RIDERS, prompt: 'Troisième' %>
    <%= f.submit "Ajouter", class: "btn btn-primary" %>
  <% end %>

</div>
