<div class="container-wrapper">
  <h1>Results#new</h1>
  <p>Find me in app/views/results/new.html.erb</p>

  <%= form_with url: "/results", method: :post do |f| %>
    <%= f.select :stage, 1..21, prompt: 'Etape' %>
    <%= f.select :rider_1, Rider::RIDERS, prompt: 'Vainqueur' %>
    <%= f.select :rider_2, Rider::RIDERS, prompt: 'Deuxième' %>
    <%= f.select :rider_3, Rider::RIDERS, prompt: 'Troisième' %>
    <%= f.submit "Ajouter", class: "main-button" %>
  <% end %>
</div>
