<div class="container-wrapper">
  <div class="banner">
    <%= image_tag "La Fringale_logo.png" %>
    <p>Défie tes potes sur les plus grosses courses de vélo en pronostiquant le podium de chaque étape !</p>
  </div>

  <h3>Les Courses de la Saison 2022</h3>

  <div class= "courses-box">
    <div class="course">
      <div class="course-image">
        <%= image_tag "Giro_d'Italia.svg.png" %>
      </div>
      <p>06/05 > 29/05</p>
      <p>C'est fini!</p>
    </div>

    <div class="course">
      <div class="course-image">
        <%= image_tag "Tour_de_France.svg.png" %>
      </div>
      <p>01/07 > 24/07</p>
      <p>C'est fini!</p>
    </div>

    <div class="course">
      <div class="course-image">
        <%= image_tag "La_Vuelta.svg.png" %>
      </div>
      <p>19/08 > 11/09</p>
      <p><strong>C'est maintenant!</strong></p>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="user-connected">
    <% if @stage.present? %>
      <% if (Time.now < Time.now.middle_of_day) %>
        <p>Fin des pronos dans</p>
      <% end %>
      <div class="timer-card flex justify-center items-center">
        <p><i class="fas fa-hourglass-half"></i></p>
        <div class="pl-2 text-2xl" data-controller="countdown-stage" data-countdown-stage-date-value="<%= @date %> 12:00:00"></div>
      </div>
        <% if (Time.now > Time.now.middle_of_day) %>
          <%= link_to "Voir les pronos", stage_path(@stage), class: "main-button" %>
          <p>Prépare ton prono pour demain!</p>
        <% else %>
          <%= link_to "Je fais mon prono", stage_path(@stage), class: "main-button" %>
          <p>On attend ton prono avec impatience! Tu as jusqu'à midi pour le compléter.</p>
        <% end %>
    <% else %>
      <div class="timer-card flex justify-center items-center">
        <p><i class="fas fa-bell"></i></p>
        <p>Prochain tour dans</p>
        <div class="pl-2 text-2xl" data-controller="countdown-race" data-countdown-race-date-value="May 9, 2023 12:00:00"></div>
      </div>
      <p>Il n'y a pas de courses pour le moment mais on se tient au courant ! RDV en 2023...</p>
    <% end %>
    </div>
  <% else %>
    <%= link_to "Connexion", new_user_session_path, class: "main-button" %>
    <%= link_to "Inscription",  new_user_registration_path, class: "second-button mx-auto" %>
  <% end %>

  <div class="footer flex w-full justify-around py-4">
    <%= link_to info_rules_path, class:"rules flex flex-col items-center" do %>
      <i class="fas fa-dice text-2xl"></i>
      <p class="text-sm">Règlement officiel de l'épreuve</p>
    <% end %>

    <%= link_to info_faq_path, class:"faq flex flex-col items-center" do %>
      <i class="fas fa-question text-2xl"></i>
      <p class="text-sm">La Fringale en 2 coups de pédale!</p>
    <% end %>

    <%= link_to info_manifest_path, class:"faq flex flex-col items-center" do %>
      <i class="fas fa-quote-right text-2xl"></i>
      <p class="text-sm">Le mot du Commissaire de course</p>
    <% end %>
  </div>
</div>
