<div class="box-wrapper">
  <%= link_to info_profile_path do %>
    <div class="box-profile"><p>Profil</p></div>
  <% end %>
    <%= link_to bets_path do %>
    <div class="box-results"><p>Résultats</p></div>
  <% end %>
    <%= link_to info_rules_path do %>
    <div class="box-rules"><p>Règles</p></div>
  <% end %>
    <%= link_to users_dashboard_path, data: { turbolinks: false } do %>
    <div class="box-concept"><p>Ligues</p></div>
  <% end %>
</div>

 <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "main-button" %>
