<div class="container-wrapper">
  <h1>Mon Profil</h1>

  <h2>Mes ligues</h2>
  <ul>
  <% @leagues.each do |league| %>
    <li><%= league.name %></li>
  <% end %>
  </ul>
  <ul><% @leagues_accepted.each do |league| %>
    <li><%= league.name %></li>
  <% end %>
  </ul>

  <h2>Mes admissions</h2>
  <% @admissions.each do |admission| %>
    <% if admission.status == "pending" %>
      <%= admission.league.name %>
      <%= admission.user.username %>
      <%= admission.status %>
      <%= link_to "Accepter", admission_accept_path(admission), method: :patch, class: "second-button" %>
      <%= link_to "Refuser", admission_reject_path(admission), method: :patch, class: "second-button" %>
    <% end %>
  <% end %>

  <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "main-button" %>
</div>
