<div class="container-wrapper">

  <div class="title">
    <h1>Course</h1>
    <p>Tour de France 2022</p>
  </div>

  <div class="flex justify-around mt-1 mb-6">
    <p><%= link_to 'ETAPES', stages_path, class: (controller_name == "stages" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'COUREURS', riders_path, class: (controller_name == "riders" ? "menu-active" : "menu-disactive") %></p>
  </div>

  <% @stages.sort.each do |stage| %>

    <div class="stage-card">

      <%= link_to stage_path(stage) do %>
        <div class= "stage-info">
          <div class="stage-info-first flex justify-between">
            <p><strong>Etape <%= stage.number %></strong></p>
            <% case stage.stage_type %>
              <% when 'Montagne' %>
              <p><i class="fas fa-mountain"></i></p>
              <% when 'Accidentee' %>
              <p><i class="fas fa-exclamation-triangle"></i></p>
              <% when 'Chrono' %>
              <p><i class="fas fa-stopwatch"></i></p>
              <% when 'Plat' %>
              <p><i class="fas fa-road"></i></p>
            <% end %>
            <p><%= stage.date.strftime("%d / %m") %></p>
          </div>
          <div class="stage-info-last flex justify-between">
            <p><%= stage.departure  %> > <%= stage.arrival %></p>
          </div>
        </div>
      <% end %>

    </div>

  <% end %>

</div>
