<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Course</p>
  </div>
</div>


<div class="stages">
  <!-- Menu Etapes/Coureurs/Resultats -->
  <div class="flex justify-around mt-1 mb-6">
    <p><%= link_to 'ETAPES', stages_path, class: (controller_name == "stages" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'COUREURS', riders_path, class: (controller_name == "riders" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'RESULTATS', results_path, class: (controller_name == "results" ? "menu-active" : "menu-disactive") %></p>
  </div>

  <!-- Index des Stages -->
  <% @stages.sort.each do |stage| %>

    <%= link_to stage_path(stage) do %>
    <div class="stage-card my-2">
      <div class="flex justify-between" >
        <div class="stage-info-number">
          <p><i class="fas fa-flag"></i> Etape <%= stage.number %></p>
        </div>
        <div class="stage-info-profile">
          <% case stage.stage_type %>
            <% when 'Montagne' %>
            <p><i class="fas fa-mountain"></i> Montagne</p>
            <% when 'Accidentee' %>
            <p><i class="fas fa-exclamation-triangle"></i> Accidenté</p>
            <% when 'Chrono' %>
            <p><i class="fas fa-stopwatch"></i> Contre la Montre</p>
            <% when 'Plat' %>
            <p><i class="fas fa-road"></i> Plat</p>
          <% end %>
        </div>
      </div>
        <div class="stage-info-destination text-center">
          <p><%= stage.departure  %> > <%= stage.arrival %></p>
        </div>
      </div>
    <% end %>

  <% end %>


</div>
