<div class="container-wrapper">
  <!-- Sweet Alert 2 -->
  <% if params[:prono] %>
    <div data-controller="prono-popup">
    </div>
  <% end %>

  <!-- En-tête avec la Stage -->
  <div class="title flex justify-between items-center">
    <div class="switch-stage">
      <% if @previous_stage.nil? %>
        <p></p>
      <% else %>
        <%= link_to stage_path(@previous_stage) do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <h1>Pronos</h1>
      <p>Tour de France 2022</p>
    </div>
    <div class="switch-stage">
      <% if @next_stage.nil? %>
        <p></p>
      <% else %>
        <%= link_to stage_path(@next_stage) do %>
          <i class="fas fa-angle-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Infos de la Stage -->
  <div class= "stage-info flex justify-center my-2">
    <div class="stage-info-icon">
      <p><i class="fas fa-flag"></i> Etape <%= @stage.number %></p>
    </div>
    <div class="stage-info-icon">
      <i class="fas fa-calendar"></i>
      <%= @stage.date.strftime("%d / %m") %>
    </div>
    <div class="stage-info-icon">
      <% case @stage.stage_type %>
        <% when 'Montagne' %>
        <p><i class="fas fa-mountain"></i> Montagne</p>
        <% when 'Accidentee' %>
        <p><i class="fas fa-exclamation-triangle"></i> Accidenté</p>
        <% when 'Chrono' %>
        <p><i class="fas fa-stopwatch"></i> Contre la Montre</p>
        <% when 'Plat' %>
        <p><i class="fas fa-road"></i> Plat</p>
      <% end %>
    </div>
  </div>

  <!-- Map de la Stage -->
  <div class="stage-map my-3">
    <img src="<%= cl_image_path @stage.image.key%>", width=90%>
  </div>

  <!-- Formulaire Mon Prono à faire avant 12h -->
  <% if (@my_bets.nil? || @my_bets.empty?) && @bet.present? %>
    <h3 class="sub-title">C'est l'heure des pronos!</h3>
      <div class="form-mon-prono">
        <%= form_with url: stage_bets_path(@stage), autocomplete: "on", method: :post do |f| %>
          <div class="form-select">
            <div class="form-input">
              <div class="number"><p>1</p></div>
              <div class="rider-select"><%= f.select :rider_1, Rider::RIDERS, prompt: 'Vainqueur' %></div>
            </div>
            <div class="form-input">
              <div class="number"><p>2</p></div>
              <div class="rider-select"><%= f.select :rider_2, Rider::RIDERS, prompt: 'Deuxième' %></div>
            </div>
            <div class="form-input">
              <div class="number"><p>3</p></div>
              <div class="rider-select"><%= f.select :rider_3, Rider::RIDERS, prompt: 'Troisième' %></div>
            </div>
          </div>
          <div class="form-button">
            <%= f.submit "Ca part !", class: "main-button" %>
          </div>
        <% end %>
    </div>
  <% end %>

  <!-- Affichage de Mon Prono entre 12h et 17h -->


  <!-- Affichage des pronos + résultats de tous après 17h -->
  <% unless (@players.nil? || @players.empty?) %>
    <h3 class="sub-title">Les Pronos de l'étape</h3>
    <% @players.each do |player| %>
      <% if player == current_user %>
        <div class="bet-card-host flex justify-between items-center">
      <% else %>
        <div class="bet-card flex justify-between items-center">
      <% end %>
          <div class="bet-card-user flex flex-col items-center">
            <p><%= cl_image_tag player.photo.key, class: "logo-avatar" %></p>
            <p><strong><%= player.username %></strong></p>
          </div>
          <div class="bet-card-riders">
            <% player.bets.each do |bet| %>
              <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
            <% end %>
          </div>
          <div class="bet-card-points flex flex-col items-center">
            <p class="score"><%= player.display_score(@stage) %></p>
            <p>pts</p>
          </div>
        </div>
    <% end %>
  <% end %>

</div>
