<div class="container-wrapper">
  <!-- Sweet Alert 2 -->
  <% if params[:prono] %>
    <div data-controller="prono-popup">
    </div>
  <% end %>

  <!-- En-tête avec la Stage -->
  <div class="title flex justify-between items-center">
    <div class="switch-stage">
      <% if @previous_stage.nil? %>
        <i class="fas fa-angle-left" style="color: #2660A4"></i>
      <% else %>
        <%= link_to stage_path(@previous_stage) do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
      <% end %>
    </div>
    <div class="flex flex-col">
      <h1>Pronos</h1>
      <p>Tour de France 2022</p>
    </div>
    <div class="switch-stage">
      <% if @next_stage.nil? %>
        <i class="fas fa-angle-left" style="color: #2660A4"></i>
      <% else %>
        <%= link_to stage_path(@next_stage) do %>
          <i class="fas fa-angle-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Infos de la Stage -->
  <div class= "stage-info flex justify-center my-2">
    <div class="stage-info-icon">
      <p><i class="fas fa-flag"></i> Etape <%= @stage.number %></p>
    </div>
    <div class="stage-info-icon">
      <i class="fas fa-calendar"></i>
      <%= @stage.date.strftime("%d / %m") %>
    </div>
    <div class="stage-info-icon">
      <% case @stage.stage_type %>
        <% when 'Montagne' %>
        <p><i class="fas fa-mountain"></i> Montagne</p>
        <% when 'Accidentee' %>
        <p><i class="fas fa-exclamation-triangle"></i> Accidenté</p>
        <% when 'Chrono' %>
        <p><i class="fas fa-stopwatch"></i> Contre la Montre</p>
        <% when 'Plat' %>
        <p><i class="fas fa-road"></i> Plat</p>
      <% end %>
    </div>
  </div>

  <!-- Map de la Stage -->
  <div class="stage-map my-3">
    <img src="<%= cl_image_path @stage.image.key%>", width=90%>
  </div>

  <!-- Affichage du Résultat après 17h -->
  <% if @result.present? %>
    <h3 class="sub-title">Le Résultat de l'étape</h3>
      <div class="bet-card flex justify-between items-center">
      <div class="bet-card-stage flex flex-col items-center">
        <p>Etape</p>
        <%= @result.first.stage.number %>
      </div>
      <div class="bet-card-riders flex flex-col items-center w-full">
        <% @result.each do |result| %>
          <p><%= result.result_position %>. <%= result.rider.first_name %> <%= result.rider.last_name %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <!-- Card Mon Prono -->
  <h3 class="sub-title">Mon Prono</h3>
  <!-- if 'pari ouvert pour l'étape du jour < 12h' : affichage formulaire -->
  <% if @bet.present? %>
    <div class="form-mon-prono">
      <%= form_with url: stage_bets_path(@stage), autocomplete: "on", method: :post do |f| %>
        <div class="form-select">
          <div class="form-input">
            <div class="number"><p>1</p></div>
            <div class="rider-select"><%= f.select :rider_1, Rider::RIDERS, prompt: 'Vainqueur' %></div>
          </div>
          <div class="form-input">
            <div class="number"><p>2</p></div>
            <div class="rider-select"><%= f.select :rider_2, Rider::RIDERS, prompt: 'Deuxième' %></div>
          </div>
          <div class="form-input">
            <div class="number"><p>3</p></div>
            <div class="rider-select"><%= f.select :rider_3, Rider::RIDERS, prompt: 'Troisième' %></div>
          </div>
        </div>
        <div class="form-button">
          <%= f.submit "Ca part !", class: "main-button" %>
        </div>
      <% end %>
    </div>
  <!-- if 'mes paris sont faits' : affichage mon prono -->
  <% elsif @my_bets.present? %>
    <div class="bet-card-host flex justify-between items-center">
      <div class="bet-card-user flex flex-col items-center">
        <p><%= cl_image_tag current_user.photo.key, class: "logo-avatar" %></p>
        <p><strong><%= current_user.username %></strong></p>
      </div>
      <div class="bet-card-riders">
        <% @my_bets.each do |bet| %>
          <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
        <% end %>
      </div>
      <div class="bet-card-points flex flex-col items-center">
        <% if @result.present? %>
          <p class="score"><%= current_user.display_score(@stage) %></p>
        <% else %>
          <p><i class="fas fa-question"></i></p>
        <% end %>
          <p>pts</p>
      </div>
    </div>

  <!-- if 'date du jour >= date de l'étape' : affichage trop tard pour parier ajd -->
  <% elsif @stage.date <= Date.current %>
    <p class="text-sm text-center pt-2"> ❌ Il est trop tard pour rentrer ton pronostic ❌ </p>
    <p class="text-sm text-center pb-2"> 😳 Tu obtiens 0 point automatiquement 😳 </p>
  <!-- elsif 'date du jour < date de l'étape' : affichage les pronos ne sont pas encore ouverts -->
  <% else %>
    <p class="text-sm text-center p-2"> Les pronos de cette étape ne sont pas encore ouverts.. Prends ton mal en patience! </p>
  <% end %>

  <!-- Affichage des pronos de tous une fois le résultat sorti -->
  <% if @result.present? %>
    <% unless @players.empty? %>
      <h3 class="sub-title">Les Pronos de l'étape</h3>
      <% @players.each do |player| %>
        <% if player == current_user %>
          <div class="bet-card-host flex justify-between items-center">
        <% else %>
          <div class="bet-card flex justify-between items-center">
        <% end %>
          <div class="bet-card-user flex flex-col items-center">
            <p><%= cl_image_tag player.photo.key, class: "logo-avatar" %></p>
            <p><strong><%= player.username %></strong></p>
          </div>
          <div class="bet-card-riders">
            <% player.bets.each do |bet| %>
              <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
            <% end %>
          </div>
          <div class="bet-card-points flex flex-col items-center">
            <p class="score"><%= player.display_score(@stage) %></p>
            <p>pts</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
