<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Pronos</p>
  </div>
</div>


<div class="stage-show">
  <!-- Sweet Alert 2 -->
  <% if params[:prono] %>
    <div data-controller="prono-popup">
    </div>
  <% end %>


  <!-- Infos de la Stage -->
  <div class= "stage-info flex justify-center my-2">
    <div class="switch-stage">
      <% if @previous_stage.nil? %>
        <%# <i class="fas fa-angle-left"></i> %>
      <% else %>
        <%= link_to stage_path(@previous_stage) do %>
          <i class="fas fa-angle-left"></i>
        <% end %>
      <% end %>
    </div>
    <div class="stage-info-number">
      <p><i class="fas fa-flag"></i> Etape <%= @stage.number %></p>
    </div>
    <div class="stage-info-date">
      <p><i class="fas fa-calendar"></i>
      <%= @stage.date.strftime("%d / %m") %></p>
    </div>
    <div class="stage-info-profile">
      <% case @stage.stage_type %>
      <% when 'Montagne' %>
        <p><i class="fas fa-mountain"></i> Montagne</p>
      <% when 'Accidentee' %>
        <p><i class="fas fa-exclamation-triangle"></i> Accidentée</p>
      <% when 'Chrono' %>
        <p><i class="fas fa-stopwatch"></i> Contre la Montre</p>
      <% when 'Chrono equipe' %>
        <p><i class="fas fa-stopwatch"></i> Contre la Montre par équipe</p>
      <% when 'Plat' %>
        <p><i class="fas fa-road"></i> Plat</p>
      <% end %>
    </div>
    <div class="switch-stage">
      <% if @next_stage.nil? %>
        <%# <i class="fas fa-angle-left"></i> %>
      <% else %>
        <%= link_to stage_path(@next_stage) do %>
          <i class="fas fa-angle-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Map de la Stage -->
  <div class="stage-map my-3">
    <img src="<%= cl_image_path @stage.image.key%>" width="90%">
  </div>

  <!-- Affichage du Résultat après 17h -->
  <% if @result.present? %>
    <p class="sub-title">Le Résultat de l'étape</p>
      <div class="result-bet-card flex justify-between items-center">
        <div class="bet-card-stage flex flex-col items-center">
          <p>Etape</p>
          <%= @result.first.stage.number %>
        </div>
        <div class="bet-card-riders flex flex-col items-center w-full">
          <% @result.each do |result| %>
            <% if @stage.stage_type == "Chrono equipe" %>
              <p><%= result.result_position %>. <%= result.rider.team %></p>
            <% else %>
              <p><%= result.result_position %>. <%= result.rider.first_name %> <%= result.rider.last_name %></p>
            <% end %>
          <% end %>
        </div>
    </div>
  <% end %>

  <!-- Card Mon Prono -->
  <p class="sub-title">Mon Prono</p>

  <!-- 'mes paris sont faits' : affichage mon prono -->
  <% if @my_bets.present? %>
    <div class="bet-card-host flex justify-between items-center">
      <div class="bet-card-user flex flex-col items-center">
        <p><%= cl_image_tag current_user.photo.key, class: "logo-avatar" %></p>
        <p><strong><%= current_user.username %></strong></p>
      </div>
      <div class="bet-card-riders">
        <% @my_bets.each do |bet| %>
          <% if @stage.stage_type == "Chrono equipe" %>
            <p><%= bet.position %>. <%= bet.rider.team %></p>
          <% else %>
            <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
          <% end %>
        <% end %>
      </div>
      <div class="bet-card-points flex flex-col items-center">
        <% if @result.present? %>
          <p class="score"><%= current_user.display_score(@stage) %></p>
        <% else %>
          <p><i class="fas fa-question"></i></p>
        <% end %>
          <p>pts</p>
      </div>
    </div>

  <!-- 'pari ouvert pour l'étape du jour < 12h' : affichage formulaire -->
  <% elsif @bet.present? %>
    <% if @stage.stage_type == "Chrono equipe" %>
      <%= render 'shared/prono_team', stage: @stage %>
    <% else %>
      <%= render 'shared/prono_individual', stage: @stage %>
    <% end %>

  <!-- 'date du jour >= date de l'étape' : affichage trop tard pour parier ajd -->
  <% elsif @stage.date <= Date.current %>
    <p class="text-sm text-center pt-2"> ❌ Il est trop tard pour rentrer ton pronostic ❌ </p>
    <p class="text-sm text-center pb-2"> 😳 Tu obtiens 0 point automatiquement 😳 </p>
  <!-- 'date du jour < date de l'étape' : affichage les pronos ne sont pas encore ouverts -->
  <% else %>
    <p class="text-sm text-center p-2"> Les pronos de cette étape ne sont pas encore ouverts.. Prends ton mal en patience ! </p>
  <% end %>

  <%# A revoir %>
  <!-- Affichage des pronos de tous une fois le résultat sorti -->
  <% if @result.present? || (@stage.date == Date.current && Time.zone.now > (Time.zone.now.middle_of_day + 6*60*60))%>
    <% unless @players.empty? %>
      <p class="sub-title">Les Pronos de l'étape</p>
      <% @players.each do |player| %>
        <% if player == current_user %>
          <div class="bet-card-host flex justify-between items-center">
        <% else %>
          <div class="bet-card flex justify-between items-center">
        <% end %>
          <div class="bet-card-user flex flex-col items-center">
            <p><%= cl_image_tag player.photo.key, class: "logo-avatar" %></p>
            <p><strong><%= player.username %></strong></p>
          </div>
          <div class="bet-card-riders">
            <% player.bets.each do |bet| %>
              <% if @stage.stage_type == "Chrono equipe" %>
                <p><%= bet.position %>. <%= bet.rider.team %></p>
              <% else %>
                <p><%= bet.position %>. <%= bet.rider.first_name %> <%= bet.rider.last_name %></p>
              <% end %>
            <% end %>
          </div>
          <div class="bet-card-points flex flex-col items-center">
            <p class="score"><%= player.display_score(@stage) %></p>
            <p>pts</p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

</div>
