<!-- Navbar top -->
<div class="navbar-top sticky top-O">
  <%= link_to root_path do %>
    <%= image_tag "LA FRINGALE.jpg" %>
  <% end %>
  <div class="menu">
    <p>Course</p>
  </div>
</div>

<div class="riders">

  <!-- Menu Etapes/Coureurs/Resultats -->
  <div class="flex justify-around mt-1 mb-6">
    <p><%= link_to 'ETAPES', stages_path, class: (controller_name == "stages" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'COUREURS', riders_path, class: (controller_name == "riders" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'RESULTATS', results_path, class: (controller_name == "results" ? "menu-active" : "menu-disactive") %></p>
  </div>

  <!-- Index des Riders -->
  <% @riders.each do |team| %>
    <div class="teams-card border border-1 mx-3 my-5 pb-3 px-3 rounded-md relative">
      <div class="absolute w-full -top-4 -left-0 flex justify-center">
        <div>
          <h2 class="text-center bg-white px-3 py-1 border border-1 rounded-md text-sm"><%= team.first %></h2>
        </div>
      </div>
      <div class="team-card grid grid-cols-2 grid-flow-row gap-2 pt-8">
        <% team.second.each do |rider| %>
          <div class="riders-info flex items-center">
            <div class="flex justify-between items-center w-12">
              <div>
                <p class="text-xs"><%= rider.bib %></p>
              </div>
              <!-- Drapeau nationalité des Riders -->
              <%# <div> %>
                <%# <%= image_tag rider.nationality, class: "ml-2 object-cover w-5" %>
              <%# </div> %>
            </div>
            <% if rider.still_racing %>
              <p class="pl-2 text-xs"><%= rider.first_name %> <%= rider.last_name %></p>
              <% if current_user.admin? %>
                <p><%= link_to "❌", stop_racing_rider_path(rider), data: {turbo_method: :patch}%></p>
              <% end %>
            <% else %>
              <p class="pl-2 text-xs line-through"><%= rider.first_name %> <%= rider.last_name %></p>
              <% if current_user.admin? %>
                <p><%= link_to "✔️", still_racing_rider_path(rider), data: {turbo_method: :patch}%></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
