<div class="container-wrapper">

  <div class="title">
    <h1>Course</h1>
    <p>Tour de France 2022</p>
  </div>

  <div class="flex justify-around mt-1 mb-6">
    <p><%= link_to 'ETAPES', stages_path, class: (controller_name == "stages" ? "menu-active" : "menu-disactive") %></p>
    <p><%= link_to 'COUREURS', riders_path, class: (controller_name == "riders" ? "menu-active" : "menu-disactive") %></p>
  </div>

  <% @riders.each do |team| %>
    <div class="teams-card border border-1 mx-3 my-5 pb-3 px-3 rounded-md relative">
      <div class="absolute w-full -top-4 -left-0 flex justify-center">
        <div><h1 class="text-center bg-white px-3 py-1 border border-1 rounded-md"><%= team.first %></h1></div>
      </div>
        <div class="team-card grid grid-rows-4 grid-flow-col gap-2 pt-8">
          <% team.second.each do |rider| %>
            <div class="riders-info flex items-center">
              <div class="flex justify-between items-center w-12">
                <div><p class="text-xs"><%= rider.bib %></p></div>
                <div><%= image_tag rider.nationality, class: "ml-2 object-cover w-5" %></div>
              </div>
              <p class="pl-2 text-xs"><%= rider.first_name %> <%= rider.last_name %></p>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
