<h1><strong>Coureurs engagés sur le Tour de France</strong></h1>

<div class="container-wrapper">
  <% @riders.each do |rider| %>
   <div class="rider-card text-center">
      <%= image_tag rider.photo_url, height: 150, width: 150, crop: :fill, class:"image-rider" %>
      <div class="rider-info text-center">
        <p><strong>N°<%= rider.bib %></strong></p>
        <div class="flex place-content-center">
          <%= image_tag rider.nationality, height: 25, width: 25, crop: :fill %>
          <p class="pl-2"><strong><%= rider.first_name %> <%= rider.last_name %></strong></p>
        </div>
        <p><%= rider.team %></p>
      </div>
    </div>
  <% end %>
</div>
